* {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
  box-sizing: border-box;
  transition: all 1.5;
}

/* body {
  background-color: #222;
} */

#root {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
}


.card {
  position: absolute;
  left: 17%;
  top: 5%;
  max-width: 900px;
  width: 100%;
  background-color: #3f3b3b21;
  /* background: linear-gradient(135deg, #00feba, #5b548a); */
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  color: red;
}